[submodule "fapi"]
	path = fapi
	url = https://github.com/osfree-project/FamilyAPI
	branch = master
[submodule "WIN16"]
	path = WIN16
	url = https://github.com/osfree-project/WIN16
	branch = master
[submodule "Server"]
	path = Server
	url = https://github.com/osfree-project/MVM.git
	branch = master
[submodule "macrolib"]
	path = macrolib
	url = https://github.com/osfree-project/MacroLib.git
	branch = master
[submodule "CMD/more/contrib"]
	path = CMD/more/contrib
	url = https://github.com/FDOS/more
	branch = master
[submodule "CMD/diskcomp/contrib"]
	path = CMD/diskcomp/contrib
	url = https://github.com/FDOS/diskcomp
	branch = master
[submodule "CMD/edlin/contrib"]
	path = CMD/edlin/contrib
	url = https://github.com/FDOS/edlin
	branch = master
[submodule "CMD/find/contrib"]
	path = CMD/find/contrib
	url = https://github.com/FDOS/find
	branch = master
[submodule "CMD/xcopy/contrib"]
	path = CMD/xcopy/contrib
	url = https://github.com/FDOS/xcopy
	branch = master
[submodule "CMD/basic/contrib"]
	path = CMD/basic/contrib
	url = https://github.com/nerun/bwbasic
	branch = main
[submodule "CMD/mem/contrib"]
	path = CMD/mem/contrib
	url = https://gitlab.com/FreeDOS/base/mem.git
	branch = master
[submodule "CMD/diskcopy/contrib"]
	path = CMD/diskcopy/contrib
	url = https://github.com/FDOS/diskcopy
	branch = master
