[submodule "WIN16"]
	path = WIN16
	url = https://github.com/osfree-project/WIN16
	branch = master
[submodule "Server"]
	path = Server
	url = https://github.com/osfree-project/MVM.git
	branch = master
[submodule "macrolib"]
	path = macrolib
	url = https://github.com/osfree-project/MacroLib.git
	branch = master
[submodule "CMD/diskcopy/contrib"]
	path = CMD/diskcopy/contrib
	url = https://github.com/FDOS/diskcopy
	branch = master
[submodule "doskrnl"]
	path = doskrnl
	url = https://github.com/osfree-project/doskrnl
[submodule "expserver"]
	path = expserver
	url = https://github.com/osfree-project/Bochs
[submodule "CMD/append/macrolib"]
	path = CMD/append/macrolib
	url = https://github.com/osfree-project/MacroLib
[submodule "CMD/graftabl/macrolib"]
	path = CMD/graftabl/macrolib
	url = https://github.com/osfree-project/MacroLib
